@charset "ISO-8859-1";

.cartouche {
	font-family: Roboto, Geneva, sans-serif;
	color: white;
	/* Dimensions */
	width: 30%;
	height: 94vh;
	position: fixed;
	overflow-y: auto; /* élément scrollable verticalement 
	
	*/
	overflow-x: hidden;
	margin: 0;
	padding: .5em 2em .5em 2em;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	margin-right: -.25em;
}